Para esse exemplo vamos carregar o conjunto de dados que deixei disponível neste link:

In [ ]:
url= 'https://raw.githubusercontent.com/allanspadini/palestra_eletrica/main/Data_for_UCI_named.csv'

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv(url)

O conjunto de dados que estamos utilizando foi obtido de um arquivo CSV hospedado online. Cada linha desses dados representa um sistema de energia elétrica diferente, com vários parâmetros listados. Estes incluem 'tau1', 'tau2', 'tau3', 'tau4', 'p1', 'p2', 'p3', 'p4', 'g1', 'g2', 'g3', 'g4'. O objetivo é prever a estabilidade do sistema com base nesses parâmetros, que é indicada pela coluna 'stabf'.

In [ ]:
df.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,0.055347,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,-0.005957,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,0.003471,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,0.028871,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,0.049860,unstable

Nossa solução para este problema é utilizar um modelo de Regressão Logística, que é uma técnica de aprendizado de máquina supervisionado. Primeiro, carregamos os dados usando a biblioteca pandas e separamos as características (ou "features") do rótulo que queremos prever. As características são os parâmetros de entrada do nosso sistema, enquanto o rótulo é a estabilidade do sistema.

In [ ]:
X = df[["tau1", "tau2", "tau3", "tau4", "p1", "p2", "p3", "p4", "g1", "g2", "g3", "g4"]]

In [ ]:
y = df[['stabf']]

Em seguida, dividimos os dados em um conjunto de treinamento e um conjunto de teste.

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [ ]:
X_train

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4
8520,7.051259,7.724436,8.015339,3.807652,3.041579,-1.550093,-0.707332,-0.784154,0.560207,0.182144,0.249554,0.792083
6853,3.424311,9.059117,1.818841,2.390157,3.992522,-1.581553,-1.635657,-0.775312,0.910124,0.156771,0.186268,0.666278
8774,6.183493,7.362794,9.343973,9.213503,5.361842,-1.797314,-1.916295,-1.648233,0.283822,0.386105,0.410262,0.683310
9828,6.830438,8.825121,2.375126,8.957928,4.350904,-1.479915,-1.001004,-1.869985,0.836488,0.055149,0.233569,0.865382
4628,7.069739,0.694880,7.800863,5.909137,3.606650,-1.302899,-0.662114,-1.641637,0.526856,0.273312,0.071468,0.948378
...,...,...,...,...,...,...,...,...,...,...,...,...
7725,2.367397,9.093088,4.232289,8.872710,2.894301,-0.777020,-1.041314,-1.075967,0.180869,0.686714,0.951358,0.433713
2941,7.399616,2.403338,8.960994,4.774376,3.793738,-1.166427,-1.471119,-1.156191,0.948894,0.450353,0.513299,0.358691
4844,8.543942,5.005715,7.828641,7.344376,5.108642,-1.951743,-1.664188,-1.492711,0.877872,0.190717,0.498571,0.977525
6185,1.428318,1.555675,2.237410,0.657727,3.607196,-1.675101,-0.574434,-1.357660,0.085666,0.135507,0.749503,0.830525
1051,4.776799,2.196930,8.619219,9.165927,4.067506,-0.622241,-1.799969,-1.645296,0.993917,0.763077,0.330280,0.668448

Treinamos o modelo de Regressão Logística com os dados de treinamento

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
modelo = LogisticRegression()

In [ ]:
modelo.fit(X_train, y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

e então usamos o modelo treinado para prever a estabilidade nos dados de teste.

In [ ]:
previsoes = modelo.predict(X_test)

Medimos a precisão das previsões do nosso modelo comparando com os valores reais de estabilidade no conjunto de teste.

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
accuracy_score(y_test, previsoes) * 100

80.80000000000001

Além disso, também criamos um código que permite aos usuários inserir seus próprios dados de sistema de energia e obter uma previsão de estabilidade. Para isso, transformamos os dados do usuário em um DataFrame pandas e usamos nosso modelo para fazer a previsão.

In [ ]:
columns = ["tau1", "tau2", "tau3", "tau4", "p1", "p2", "p3", "p4", "g1", "g2", "g3", "g4"]

# Defina os dados
data = [[9.857388, 6.714277, 4.545093, 1.771546, 4.834561, -1.507867, -1.978492, -1.348202, 0.775840, 0.245026, 0.604325, 0.372714]]

# Crie o DataFrame
X_usuario = pd.DataFrame(data, columns=columns)

In [ ]:
X_usuario

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4
0,9.857388,6.714277,4.545093,1.771546,4.834561,-1.507867,-1.978492,-1.348202,0.77584,0.245026,0.604325,0.372714

In [ ]:
modelo.predict(X_usuario)[0]

'unstable'

In [ ]:
import pickle

In [ ]:
with open('modelo.pkl', 'wb') as f:
    pickle.dump(modelo, f)